.registration-container{
    width: 50%;
    margin: auto;
    background-color: antiquewhite;
    height: 100%;
    padding: 15px;
    margin-top: 25px;
    border-radius: 25px;
}

#registration-form{
    width: 80%;
    margin: auto;
    align-items: center;
    gap: 5px;
    display: flex;
    flex-direction: column;
}
.reg-form-item{

    display: flex;
    flex-direction: column;
}